*{
  font-family: Arial, Helvetica, sans-serif;
 
}
header{
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
}


h2{
  background-color: black;
  color: white;
	  text-align: center;

  font-size: x-large;
  padding: 20px;
  
}
h3{
  text-align: center;
}
b{
  font-size: 20px;
  text-align: center;
}
#container{
  display: flex;
  margin: 20px;
}
.box1{
height: 130px;
width: 25%;
padding: 20px;
background-color: white;
border-radius: 10px;
}
.box2{
 margin-left: 15px;
  height: 150px;
  width: 40%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  
  }

  .box3{
    margin-left: 15px;
    width: 18%;
    height: 500px;
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;

  }
  img{
    height:150px;
    width:220px;
    margin: 10px;
  }